<div class="container">  <!--CLASE CONTAINER-->
    
    <!--GRILLA 1-->
     <div class="row">
         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 col-xl-12 "> <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
           <img src="../../../assets/img/img.jpg" class="img-fluid"> <!--IMPORTACIÓN DE IMAGEN -->
           <br> <br> <!--ESPACIO O SALTO-->
           <p>  <!--PARRAFOS-->
           Pensando en los bibliotecarios, maestros y alumnos, Bibliotecas Digitales ofrece una plataforma en línea que facilita el acceso a libros especializados completamente en español; cuenta con un amplio catálogo enfocado en diversas áreas de estudio con el objetivo de acercar el conocimiento de forma rápida y eficaz a todos sus usuarios.
           Una biblioteca ofrece recursos de primer orden para la estimulación al comportamiento lector, a la compresión lectora, la producción de texto, innovación y la creatividad.
         </p>
         </div>
       </div>
     <br> <!--ESPACIO O SALTO-->
     <div class="text-center bg-primary text-white">
       <h4> AUTORES DE LA SEMANA </h4>  <!--TITULO ENCABEZADO #2-->
   </div>        
     <!--GRILLA 2-->
     <div class="row">
         <div class="col-lg-4 col-sm-3">
           <img src="../../../assets/img/img1.jpeg" class="img-fluid">
           <p> <!--PARRAFOS-->
          <b>Gabriel José de la Concordia García Márquez</b> fue un escritor y periodista colombiano. Reconocido principalmente por sus novelas y cuentos, también escribió narrativa de no ficción, discursos, reportajes, críticas cinematográficas y memorias. Fue conocido como Gabo, y familiarmente y por sus amigos como Gabito.  <a href="https://es.wikipedia.org/wiki/Gabriel_Garc%C3%ADa_M%C3%A1rquez"> Leer más </a>
         </p>
           </div>
         <div class="col-lg-4 col-sm-3">
             <img src="../../../assets/img/img2.jpeg" class="img-fluid">
             <p> <!--PARRAFOS-->
            <b>Jorge Mario Pedro Vargas Llosa</b>, conocido como Mario Vargas Llosa, es un escritor peruano que cuenta también con la nacionalidad española desde 1993.  <a href="https://es.wikipedia.org/wiki/Mario_Vargas_Llosa"> Leer más </a>
           </p>
         </div>
         <div class="col-lg-4 col-sm-3">
           <img src="../../../assets/img/img3.jpeg" class="img-fluid">
           <p> <!--PARRAFOS-->
          <b>Octavio Irineo Paz Lozano​ fue un poeta</b>, ensayista y diplomático mexicano. Obtuvo el premio Nobel de literatura en 1990 y el premio Cervantes en 1981. Se le considera uno de los más influyentes autores del siglo XX y uno de los grandes poetas de todos los tiempos.​ 
           <a href="https://es.wikipedia.org/wiki/Octavio_Paz"> Leer más </a>
         </p>
         </div>       
    </div>
         <br><br>   
       </div>
     <hr>  <!--descripción de uno o dos párrafos -->                      
<!--PIE DE PAGINA-->
      <div class="text-center bg-primary text-black">
        <b> www.bibliodigital.com.co <br>
         Barranquilla-Colombia <br>
         +57 - 3090875 - 3105479 <br>
         soport@bibliodigital.com.co <br>
         Creado por Royman Rojas</b>
      </div>  <!--FIN DE PIE DE PAGINA --> 