<div class="text-center bg-primary text-white">
    <h5> {{titulo2}}</h5>
    <!--TITULO ENCABEZADO-->
</div>

<div class="container">
    <!--GRILLA 1-->
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6 ">
            <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
            <br>
            <!--ESPACIO O SALTO-->
            <p>
                <!--PARRAFOS-->
                Biblioteca Digital cuenta con una amplia colección de libros electrónicos en español en áreas como
                Administración, Ciencia y Tecnología, Computación, Educación, Escolar y Bachillerato, Interés General,
                entre otros. Nuestra plataforma está configurada sobre el ecosistema iPublishCentral, un modelo en
                constante actualización y mejora cuya infraestructura se implementa de forma rápida y a la medida de
                cada biblioteca. Ofrecemos modelos de licenciamiento de libros electrónicos de acuerdo a las necesidades
                y requerimientos de cada Biblioteca.
            </p>
        </div>
        <div class="col-lg-6 col-sm-6 ">
            <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
            <img src="..//..//..//assets/img/img8.jpeg" class="img-fluid">
            <!--IMPORTACIÓN DE IMAGEN -->
        </div>
    </div>
    <br> <br>
    <br> <br>
    <!--GRILLA 2-->
    <div class="row">
        <div class="text-center bg-primary text-white">
            <h4> {{titulo5}}</h4>
            <!--TITULO ENCABEZADO #2-->
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
            <br>
            1. Interfaz sencilla, amigable, incluye buscador por título.
            <br>
            2. Instituciones con múltiples campus.
            <br>
            3. Imagen personalizada.
            <br>
            4. Lectura online y por descarga.
            <br>
            5. Personalización de categorías.
            <br>
            6. No requiere equipos especiales.

        </div>
        <div class="col-lg-4 col-sm-3 ">
            <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
            <br>
            1. Consulta de los usuarios las 24 horas de los 365 días del año.
            <br>
            2. Cobertura de todos sus usuarios.
            <br>
            3. Chat en vivo para apoyo de sus usuarios.
            <br>
            4. Herramientas que facilitan la lectura.
            <br>
            5 Reportes de usabilidad al instante.
            <br>
            6. Perfil para Bibliotecario para realizar consultas.
        </div>
        <div class="col-lg-4 col-sm-3 ">
            <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
            <br>
            1. Asesoría y Capacitación por parte de soporte técnico.
            <br>
            2. Los libros no se maltratan o pierden
            <br>
            3. Importantes ahorros de espacios físicos.
            <br>
            4. Elija los títulos que necesite.
            <br>
            5. Acceso controlado a los contenidos.
            <br>
            6. Disponible para equipos de escritorio y móviles.
        </div>
    </div>
</div>

    <hr>  <!--descripción de uno o dos párrafos -->                      
    <!--PIE DE PAGINA-->
          <div class="text-center bg-primary text-black">
            <b> www.bibliodigital.com.co <br>
             Barranquilla-Colombia <br>
             +57 - 3090875 - 3105479 <br>
             soport@bibliodigital.com.co <br>
             Creado por Royman Rojas</b>
          </div>  <!--FIN DE PIE DE PAGINA --> 
    