<div class="text-center bg-primary text-white">
    <h1> {{titulo3}}</h1>       <!--TITULO ENCABEZADO-->
   </div>

   <div class="container">
    
    <!--GRILLA 1-->
     <div class="row">
         <div class="col-lg-8 col-sm-4  ">  <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
          <br> <!--ESPACIO O SALTO-->
          <p>     <!--PARRAFOS-->
             Pensando en los bibliotecarios, maestros y alumnos, Bibliotecas Digitales ofrece una plataforma en línea que facilita el acceso a libros especializados completamente en español; cuenta con un amplio catálogo enfocado en diversas áreas de estudio con el objetivo de acercar el conocimiento de forma rápida y eficaz a todos sus usuarios.
          </p>
         </div>
         <div class="col-lg-4 col-sm-8 "> <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
             <br>
             <img src="../../../assets/img/img4.jpg" class="img-fluid">  <!--IMPORTACIÓN DE IMAGEN -->
         </div>
     </div>
     <br> <br>
      
     <!--GRILLA 2-->
     <div class="row">
        <div class="text-center bg-primary text-white">
            <h4> {{titulo4}}</h4>    <!--TITULO ENCABEZADO #2-->
        </div>
         <div class="col-lg-4 col-sm-6 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
            <br><br>
            1. Generación de micrositios por institución educativa o biblioteca.
            <br>
            2. Límite de concurrencia de usuarios.
            <br>
            3. Desarrollo y diseño gráfico a la medida.
            <br>
            4. Soporte y asistencia técnica.
         </div>
         <div class="col-lg-4 col-sm-3 ">
             <br>
            <img src="../../../assets/img/img5.jpeg" class="img-fluid">  <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
         </div>
         <div class="col-lg-4 col-sm-3 ">
             <br><br>
             1. Lectura en línea o descarga con DRM.
             <br>
             2. Accesos personalizados.
             <br>
             3. Número de descargas controladas.
             <br>
             4. Resposive Design para cada micrositio.
             <br>
             5. Distribución de contenidos en PDF.
         </div>

     </div>
     <br> <br>
     <!--GRILLA 3-->
     <div class="row">
         <div class="col-lg-6 col-sm-6 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
             <div class="ratio ratio-16x9">  <!--ETIQUETA DE INSERSIÓN -->
                    <!--VIDEO DE YOUTUBE- ETIQUETA INFRAME -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/p-O3yPcGqyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
               </div>
         </div>                
        
     </div>    

</div>
<br><br>
<hr>
<div class="text-center bg-primary text-black">
  <b> <!--TEXTO EN NEGRILLA -->
    www.bibliodigital.com.co <br>
    Barranquilla-Colombia <br>
    +57 - 3090875 - 3105479 <br>
    soport@bibliodigital.com.co <br>
    Creado por Royman Rojas</b>
