<div class="text-center bg-primary text-white">
    <h1> {{titulo6}} </h1>
    <!--TITULO ENCABEZADO-->
</div>

<div class="container">        <!--INICIO DE UNA NUEVA SECCIÓN -->
    <br><br>
    <div class="text-center bg-primary text-white">
      <h4> Gabriel José de la Concordia García Márquez </h4> <!--TITULO ENCABEZADO #2-->
     </div>
     <br>
    <!--GRILLA 1-->
     <div class="row">
         <div class="col-lg-2 col-sm-3 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
           <img src="../../../assets/img/img9.jpg" class="img-fluid">    <!--IMPORTACIÓN DE IMAGEN -->
           <p> <!--PARRAFOS-->
             Cien años de soledad es una novela del escritor colombiano Gabriel García Márquez<a href="https://es.wikipedia.org/wiki/Cien_a%C3%B1os_de_soledad"> Leer más </a>
          </p>
           
         </div>
         <div class="col-lg-2 col-sm-3 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
             <img src="../../../assets/img/img10.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
             El amor en los tiempos del cólera es una novela del escritor colombiano Gabriel García Márquez, publicada en 1985. <a href="https://es.wikipedia.org/wiki/El_amor_en_los_tiempos_del_c%C3%B3lera"> Leer más </a>
         </div>
         <div class="col-lg-2 col-sm-3 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
           <img src="../../../assets/img/img11.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
           Crónica de una muerte anunciada es una novela del escritor colombiano Gabriel García Márquez.  <a href="https://es.wikipedia.org/wiki/Cr%C3%B3nica_de_una_muerte_anunciada"> Leer más </a>
         </div>

         <div class="col-lg-2 col-sm-3 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
             <img src="../../../assets/img/img14.jpeg" class="img-fluid">    <!--IMPORTACIÓN DE IMAGEN -->  
             El coronel no tiene quien le escriba es una novela del escritor colombiano Gabriel García<a href="https://es.wikipedia.org/wiki/El_coronel_no_tiene_quien_le_escribat"> Leer más </a>
           </div>

           <div class="col-lg-2 col-sm-3 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
             <img src="../../../assets/img/img15.jpeg" class="img-fluid">      <!--IMPORTACIÓN DE IMAGEN -->
             La hojarasca es una novela corta escrita por Gabriel García Márquez, publicada en 1955.​ 
             <a href="https://es.wikipedia.org/wiki/La_hojarasca"> Leer más </a>
           </div>
           
           <div class="col-lg-2 col-sm-3 ">   <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
             <img src="../../../assets/img/img16.jpeg" class="img-fluid">      <!--IMPORTACIÓN DE IMAGEN -->
             Vivir para contarla es el primero de tres volúmenes de relatos.<a href="https://es.wikipedia.org/wiki/Octavio_Paz"> Leer más </a>
           </div>  
            <br>
                      <!--INICIO DE UNA NUEVA SECCIÓN -->
           <div class="text-center bg-primary text-white">
            <h5> Obras Reconocidas del Autor </h5> <!--TITULO ENCABEZADO #3-->
           </div>
              <!-- TABLA 1 -->
              <table class="table table-black table-bordered">
             <tr> <th>Nombre de la Obra </th> <th>Año </th>  <th>Autor </th> <th>Idioma </th>  </tr>
             <tr> <td>Memoria de mis Putas Tristes </td> <td>2004</td>  <td>Gabriel Garcia Marquez</td>  <td>Español</td>   </tr>
             <tr> <td>Relato de un naufrago </td> <td>1970</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>   </tr>
             <tr> <td>El otoño del Patriarca </td> <td>1975</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>  </tr>
             <tr> <td>Del Amor y Otros Demonios </td> <td>1994</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>    </tr>
             <tr> <td>Doce Cuentos peregrinos </td> <td>1992</td>  <td>Gabriel Garcia Marquez</td>  <td>Español</td> </tr>
             <tr> <td>Los Funerales de la mama grande </td> <td>1962</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>  </tr>
             <tr> <td>Noticia de un Secuetro </td> <td>1996</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>  </tr>
             <tr> <td>La Mala Hora </td> <td>1962</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>  </tr>
             <tr> <td>El General en su Laberinto </td> <td>1996</td>  <td>Gabriel Garcia Marquez</td> <td>Español</td>  </tr>
         </table>   
     </div> 
          <br>
          <br>
             <!--INICIO DE UNA NUEVA SECCIÓN -->
          <div class="text-center bg-primary text-black">
            <h4> Jorge Mario Pedro Vargas Llosa </h4>   <!--TITULO ENCABEZADO #4-->
           </div>
           <br>
           <!--GRILLA 2-->
     <div class="row">
      <div class="col-lg-2 col-sm-3 ">    <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
        <img src="../../../assets/img/img17.jpeg" class="img-fluid"> <!--IMPORTACIÓN DE IMAGEN -->
        La ciudad y los perros es la primera novela del escritor peruano Mario Vargas Llosa<a href="https://es.wikipedia.org/wiki/La_ciudad_y_los_perros"> Leer más </a>
        
      </div>
      <div class="col-lg-2 col-sm-3 ">      <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
          <img src="../../../assets/img/img18.jpeg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
          La fiesta del Chivo es una novela publicada en el año 2000 del escritor peruano<a href="https://es.wikipedia.org/wiki/La_fiesta_del_Chivo_(novela)"> Leer más </a>
      </div>
      <div class="col-lg-2 col-sm-3 ">  <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
        <img src="../../../assets/img/img19.jpeg" class="img-fluid"> <!--IMPORTACIÓN DE IMAGEN -->
        La tía Julia y el escribidor es una novela semiautobiográfica del escritor peruano Mario Vargas Llosa  <a href="https://es.wikipedia.org/wiki/La_t%C3%ADa_Julia_y_el_escribidor"> Leer más </a>
      </div>

      <div class="col-lg-2 col-sm-3 ">      <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
          <img src="../../../assets/img/img20.jpeg" class="img-fluid"> <!--IMPORTACIÓN DE IMAGEN -->
          La guerra del fin del mundo​ es la sexta novela del escritor peruano y Nobel en el 2010.<a href="https://es.wikipedia.org/wiki/La_guerra_del_fin_del_mundo"> Leer más </a>
        </div>

        <div class="col-lg-2 col-sm-3 ">    <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
          <img src="../../../assets/img/img21.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN --> 
          Travesuras de la niña mala es una novela del escritor peruano y Premio Nobel de Literatura en 2010.<a href="https://es.wikipedia.org/wiki/Travesuras_de_la_ni%C3%B1a_mala"> Leer más </a>
        </div>
        
        <div class="col-lg-2 col-sm-3 ">    <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
          <img src="../../../assets/img/img22.jpeg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
          Conversación en La Catedral es la tercera novela del autor peruano Mario Vargas Llosa.<a href="https://es.wikipedia.org/wiki/Conversaci%C3%B3n_en_La_Catedral"> Leer más </a>
        </div>  
         <br>
          <!--INICIO DE UNA NUEVA SECCIÓN -->
        <div class="text-center bg-primary text-black">
         <h5> Obras Reconocidas del Autor </h5>   <!--TITULO ENCABEZADO #5-->
        </div>
                   <!--TABLA #2 -->
         <table class="table table-black table-bordered">
          <tr> <th>Nombre de la Obra </th> <th>Año </th>  <th>Autor </th> <th>idioma </th>  </tr>
          <tr> <td>La casa Verde</td> <td>1966</td>  <td>Jorge Mario Vargas LLosa </td>  <td>Español</td>   </tr>
          <tr> <td>El Hablador </td> <td>1987</td>  <td>Jorge Mario Vargas LLosa</td> <td>Español</td>   </tr>
          <tr> <td>Lituma En Los Andes </td> <td>1993</td>  <td>Jorge Mario Vargas LLosa</td> <td>Español</td>  </tr>
          <tr> <td>El Sueño de Celta </td> <td>2010</td>  <td>Jorge Mario Vargas LLosa</td> <td>Español</td>    </tr>
          <tr> <td>Pantaleón y Las visitadores</td> <td>1973</td>  <td>Jorge Mario Vargas LLosa</td>  <td>Español</td> </tr>
          <tr> <td>El Paraiso en otra Esquina </td> <td>2003</td>  <td>Jorge Mario Vargas LLosa</td> <td>Español</td>  </tr>
          <tr> <td>El Heroe Discreto </td> <td>2013</td>  <td>Jorge Mario Vargas LLosa</td> <td>Español</td>  </tr>
          <tr> <td>El pez en el Agua </td> <td>1993</td>  <td>Jorge Mario Vargas LLosa </td> <td>Español</td>  </tr>
          <tr> <td>Los Cuadernos de Don Rigoberto</td> <td>1997</td>  <td>Jorge Mario Vargas LLosa </td> <td>Español</td>  </tr>
      </table>   
  </div>
  <br>
  <br>
               <!--INICIO DE UNA NUEVA SECCIÓN -->
  <div class="text-center bg-primary text-white">
    <h4> Octavio Irineo Paz Lozano </h4>  <!--TITULO ENCABEZADO #6-->
   </div>
   <br>
  <br>
  <!--GRILLA 3-->
<div class="row">
<div class="col-lg-2 col-sm-3 ">        <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
<img src="../../../assets/img/img23.jpg" class="img-fluid">    <!--IMPORTACIÓN DE IMAGEN -->
El laberinto de la soledad es un ensayo publicado en 1950 por el escritor mexicano Octavio Paz.<a href="https://es.wikipedia.org/wiki/El_laberinto_de_la_soledad"> Leer más </a>

</div>
<div class="col-lg-2 col-sm-3 ">      <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
 <img src="../../../assets/img/img24.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
 A la vez vasta reflexión y poema en prosa, El Mono Gramático es una de las obras más importantes de Octavio Paz<a href="http://www.elem.mx/obra/datos/8815"> Leer más </a>
</div>
<div class="col-lg-2 col-sm-3 ">      <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
<img src="../../../assets/img/img25.jpg" class="img-fluid">    <!--IMPORTACIÓN DE IMAGEN -->
Sor Juana Inés de la Cruz o las trampas de la fe, un ensayo publicado por Octavio Paz en 1982.  <a href="https://es.wikipedia.org/wiki/Sor_Juana_In%C3%A9s_de_la_Cruz_o_las_trampas_de_la_fe"> Leer más </a>
</div>

<div class="col-lg-2 col-sm-3 ">      <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
 <img src="../../../assets/img/img26.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
 Piedra de sol es un poema escrito por Octavio Paz incluido en su poemario Libertad bajo palabra.<a href="https://es.wikipedia.org/wiki/Piedra_de_sol_(poema)"> Leer más </a>
</div>

<div class="col-lg-2 col-sm-3 ">      <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
 <img src="../../../assets/img/img27.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
 Las reflexiones de Octavio Paz sobre el fenómeno poético, su lugar en la historia.<a href="https://books.google.com.co/books/about/El_arco_y_la_lira.html?id=s6DnQwAACAAJ&source=kp_book_description&redir_esc=y"> Leer más </a>
</div>

<div class="col-lg-2 col-sm-3 ">    <!--TAMAÑO O DIMENSIÓN DE LA GRILLA -->
 <img src="../../../assets/img/img28.jpg" class="img-fluid">   <!--IMPORTACIÓN DE IMAGEN -->
 la obra de marcel duchamp. Compartir: Octavio Paz, uno de los mayores poetas del siglo XX.<a href="http://www.elem.mx/obra/datos/8810"> Leer más </a>
</div>  
<br>
         <!--INICIO DE UNA NUEVA SECCIÓN -->
<div class="text-center bg-primary text-black">
<h5> Obras Reconocidas del Autor </h5>
</div>
                 <!--TABLA 3 -->
 <table class="table table-black table-bordered">
 <tr> <th>Nombre de la Obra </th> <th>Año </th>  <th>Autor </th> <th>idioma </th>  </tr>
 <tr> <td>Selected Poems</td> <td>1963</td>  <td>Octavio Irineo Paz Lozano​ </td>  <td>Español - Ingles</td>   </tr>
 <tr> <td>Convergencias </td> <td>1987</td>  <td>Octavio Irineo Paz Lozano​</td> <td>Español</td>   </tr>
 <tr> <td>Conjunciones y Disyunciones</td> <td>1969</td>  <td>Octavio Irineo Paz Lozano​</td> <td>Español</td>  </tr>
 <tr> <td>Arbol Adentro </td> <td>1987</td>  <td>Octavio Irineo Paz Lozano​</td> <td>Español</td>    </tr>
 <tr> <td>The Labyrinth of Solitude: The Other Mexico </td> <td>1985</td>  <td>Octavio Irineo Paz Lozano​</td>  <td>Ingles</td> </tr>
 <tr> <td>Posdata </td> <td>1970</td>  <td>Octavio Irineo Paz Lozano​</td> <td>Español</td>  </tr>
 <tr> <td>Libertad Bajo La Palabra </td> <td>1960</td>  <td>Octavio Irineo Paz Lozano​</td> <td>Español</td>  </tr>
 <tr> <td>Piedra y Sol: Poemas Elegidos </td> <td>1962</td>  <td>Octavio Irineo Paz Lozano​ </td> <td>Español</td>  </tr>
 <tr> <td>La otra Voz: Poesia y Fin de Siglo </td> <td>1990</td>  <td>Octavio Irineo Paz Lozano​</td> <td>Español</td>  </tr>
</table>   
</div>
 </div>
 <div class="text-center bg-primary text-black">
    <b>
        <!--TEXTO EN NEGRILLA -->
        www.bibliodigital.com.co <br>
        Barranquilla-Colombia <br>
        +57 - 3090875 - 3105479 <br>
        soport@bibliodigital.com.co <br>
        Creado por Royman Rojas
    </b>
</div>